header{
    height:20vh;
    min-height: 180px;
    display:flex;
    align-items:center;
    background-image: url(../img/bg.jpg);
    background-size: contain;
    color:white;
    .logos{
        width: 60%;
        display:flex;
        justify-content: space-around;
        height: 100%;
        padding:2rem 0;
        img{
            width: auto;
            height: 100%;
        }
    }
    .titulo{
        width: 40%;
        font-family: 'FuturaArabicBold';
        font-size: 1.3rem;
        line-height:2rem;
        text-align: center;
        .title-agua{
            display:block;
            font-size: 4rem;
            text-transform: uppercase;
            font-weight: 800;
        }
    }
}

main{
    height: 70vh;
    min-height: 100%;
    display:flex;
    margin: 30px 15px 0;
    font-family: 'Futura';
    section.cartilla{
        width:20%;
        margin:0;
        border:1px solid lightgray;
        padding:1rem;
        max-height: 1000px;
        transition: all 0.3s ease-in-out;
        &:hover{
            width:35%
        }
    }
}