header{
    height:20vh;
    min-height: 180px;
    display:flex;
    align-items:center;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    color:white;
    .logos{
        width: 60%;
        display:flex;
        justify-content: space-around;
        height: 100%;
        img{
            width: auto;
            height: 100%;
        }
    }
    .titulo{
        width: 40%;
        font-family: 'FuturaArabicBold';
        font-size: 1.3rem;
        line-height:2rem;
        text-align: center;
        .title-agua{
            display:block;
            font-size: 4rem;
            text-transform: uppercase;
            font-weight: 800;
        }
    }
}

main{
    height: 70vh;
    min-height: 100%;
    display:flex;
    section.cartilla{
        width:20%;
        margin:0;
        border:1px solid lightgray;
        padding:1rem;
    }
}