//Colores oficiales
$azulGobernacion: #00AEEF;
$amarilloGobernacion:#FFF200;
$rojoGobernacion:#ED1C24;
//cartillas
$comunidades: #0F9C9E;
$decimoOnce: #B91C79;
$sextoNoveno: #FCD624;
$primeroQuinto: #D1E184;
$primeraInfancia: #11ADE4;


