@import "./fonts";
@import "./variables";

img{
    max-width: 100%;
}
body{
    margin:0;
    padding:0;
    *{
    box-sizing: border-box;
    font-size:16px;
    }
}

@import "./principal";
@import "./header";
@import "./modulos";
@import "./contenido-comunidades";
@import "./footer";
@import "./media-querys";

