@charset "UTF-8";
@font-face {
  font-family: Futura;
  src: url(../assets/FuturaCondensedMedium.otf);
}

@font-face {
  font-family: FuturaArabicBold;
  src: url(../assets/unicode.futurabb.ttf);
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

.principal header {
  height: 20vh;
  min-height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*background-image: url(../img/bg.jpg);*/
  background-size: contain;
  color: white;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.principal header #videoBG {
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: auto;
}

.principal header .logos {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  padding: 2rem 0;
  z-index: 5;
  position: absolute;
  left: 3%;
}

.principal header .logos img {
  width: auto;
  height: 100%;
}

.principal header .titulo {
  z-index: 5;
  width: 40%;
  font-family: 'FuturaArabicBold';
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: center;
  position: absolute;
  right: 3%;
  top: 5vh;
}

.principal header .titulo .title-agua {
  display: block;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 800;
}

.principal main {
  padding-top: 20vh;
  height: 70vh;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 15px 0;
  font-family: 'Futura';
}

.principal main section.cartilla {
  width: 20%;
  margin: 0;
  max-height: 1000px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[4] 1.5fr;
      grid-template-rows: repeat(4, 1fr) 1.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.principal main section.cartilla:hover {
  width: 35%;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.principal main section.cartilla:hover .overlay {
  display: none;
}

.principal main section.cartilla:hover .btn {
  display: block;
}

.principal main section.cartilla#primeraInfancia {
  background-color: #11ADE4;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.principal main section.cartilla#primeraInfancia .portada > .fondo {
  background-image: url(../img/primeraInfancia/bg.jpg);
}

.principal main section.cartilla#primeroQuinto {
  background-color: #D1E184;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.principal main section.cartilla#primeroQuinto .portada > .fondo {
  background-image: url(../img/primeroQuinto/bg.jpg);
}

.principal main section.cartilla#sextoNoveno {
  background-color: #FCD624;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.principal main section.cartilla#sextoNoveno .portada > .fondo {
  background-image: url(../img/sextoNoveno/bg.jpg);
}

.principal main section.cartilla#decimoOnce {
  background-color: #B91C79;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.principal main section.cartilla#decimoOnce .portada > .fondo {
  background-image: url(../img/decimoOnce/portada.JPG);
}

.principal main section.cartilla#comunidades {
  background-color: #0F9C9E;
}

.principal main section.cartilla h1.titulo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1 / 1 / 2 / 4;
  font-size: 25px;
  text-shadow: 2px 1px 4px #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background: #00000033;
}

.principal main section.cartilla .portada {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 2 / 1 / 5 / 4;
  max-width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.principal main section.cartilla .portada > .fondo {
  display: block;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 3 / 3;
  overflow: hidden;
  z-index: 2;
  background-image: url(../img/comunidades/portada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.principal main section.cartilla .portada .companion {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 /3;
  z-index: 3;
  overflow: hidden;
}

.principal main section.cartilla .portada .companion img {
  width: 140%;
}

.principal main section.cartilla .logo {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 5 / 2 / 6 / 4;
  text-align: center;
  padding-right: 30px;
}

.principal main section.cartilla .texto-descripcion {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 5 / 1 / 6 / 2;
  padding: 15px;
  margin: 0;
  font-family: 'Open Sans';
  font-weight: 500;
}

.principal main section.cartilla .overlay {
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 2 / 1 / 7 / 4;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 100%;
  min-width: 100%;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  mix-blend-mode: hue;
}

.principal main section.cartilla .btn {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 2 / 1 / 5 / 4;
  z-index: 1;
  margin: 2rem;
  display: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.principal main section.cartilla .btn button {
  width: 100%;
  height: 100%;
  font-family: 'Futura';
  font-size: 1.5rem;
  padding: 1rem;
}

.fullscreen-container header {
  overflow: hidden;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: 1 / 1 / 4 / 9;
  background: #222222;
  background-image: url(../img/bg.jpg);
  background-size: contain;
  background-repeat: none;
  color: white;
  font-family: 'FuturaArabicBold';
  /*Diagramación*/
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 48px (minmax(0, 1fr))[6] 48px;
      grid-template-columns: 48px repeat(6, minmax(0, 1fr)) 48px;
  -ms-grid-rows: 32px (minmax(0, 1fr))[2];
      grid-template-rows: 32px repeat(2, minmax(0, 1fr));
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.fullscreen-container header #videoBG {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: 1 / 1 / 5 / 9;
  width: 100%;
  height: auto;
  z-index: 1;
}

.fullscreen-container header .logo {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 4 / 3;
  padding: 30px;
  z-index: 5;
}

.fullscreen-container header .logo img {
  width: 100%;
  height: 100%;
}

.fullscreen-container header .titulo {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-area: 2 / 6 / 3 / 8;
  font-family: 'FuturaArabicBold';
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: center;
  z-index: 5;
}

.fullscreen-container header .titulo .title-agua {
  display: block;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 800;
}

.fullscreen-container header .nav-modulos {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-area: 3 / 4 / 4 / 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.fullscreen-container header .nav-modulos ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.fullscreen-container header .nav-modulos ul a {
  color: white;
  text-decoration: none;
}

.fullscreen-container header .nav-modulos ul a.active {
  color: #0F9C9E;
}

.fullscreen-container header .nav-modulos ul a li {
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.fullscreen-container header .nav-modulos ul a li:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.fullscreen-container header .texto-header {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: 2 / 3 / 3 / 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 4px solid #0F9C9E;
  margin: 0 2rem;
  z-index: 5;
}

.fullscreen-container header .texto-header h1 {
  font-size: 3rem;
  margin-left: 2rem;
  font-family: 'Futura';
  margin: 0;
  text-shadow: 0px 0px 5px #0F9C9E;
}

.fullscreen-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #0F9C9E;
  background-image: url(../img/comunidades/bg-white.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 48px minmax(0, 1fr) 48px;
      grid-template-columns: 48px minmax(0, 1fr) 48px;
  -ms-grid-rows: 32px (8vh)[2] (minmax(0, 1fr))[6] 32px;
      grid-template-rows: 32px repeat(2, 8vh) repeat(6, minmax(0, 1fr)) 32px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.fullscreen-container main {
  overflow: hidden;
  -ms-grid-row: 4;
  -ms-grid-row-span: 6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 4 / 2 / 10 / 3;
  background: white;
  min-height: 50%;
  min-width: 50%;
  font-family: 'Open Sans';
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12);
  /*Diagramacion*/
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[6];
      grid-template-columns: repeat(6, minmax(0, 1fr));
  -ms-grid-rows: (minmax(0, 1fr))[5] 0.75fr;
      grid-template-rows: repeat(5, minmax(0, 1fr)) 0.75fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.fullscreen-container main .columna1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1 / 1 / 6 / 4;
  min-height: 100%;
  padding: 2rem 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
}

.fullscreen-container main .columna1 h1 {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  line-height: 1.1rem;
  color: #0F9C9E;
  font-family: 'FuturaArabicBold';
}

.fullscreen-container main .columna1 h2 {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  line-height: 1.1rem;
}

.fullscreen-container main .columna1 p {
  text-align: justify;
}

.fullscreen-container main .columna1 img {
  border-radius: 10px;
  height: 60%;
}

.fullscreen-container main .columna2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: 1 / 4 / 6 / 7;
  min-height: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
}

.fullscreen-container main .columna2 ul {
  list-style-type: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.fullscreen-container main .columna2 ul li {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
  padding: 0.4rem 0.2rem;
  border-bottom: 3px solid #0F9C9E;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.fullscreen-container main .columna2 ul li:hover {
  font-weight: 700;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  max-width: 600;
  width: 600;
  border-bottom: 5px solid #0F9C9E;
}

.fullscreen-container main .columna2 ul li:hover a {
  color: #0F9C9E;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.fullscreen-container main .columna2 ul li a {
  text-decoration: none;
  color: #555555;
  cursor: pointer;
  padding: 0 1rem;
  width: 90%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 1rem;
}

.fullscreen-container main .columna2 ul li a span {
  color: #0F9C9E;
  padding-right: 5px;
  font-weight: 600;
}

.fullscreen-container main .columna2 ul li:nth-child(1) {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

.fullscreen-container main .columna2 ul li:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.fullscreen-container main .columna2 ul li:nth-child(3) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.fullscreen-container main .columna2 ul li:nth-child(4) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.fullscreen-container main .columna2 ul li:nth-child(5) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.fullscreen-container main .columna2 ul li:nth-child(6) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.fullscreen-container main .columna2 ul li:nth-child(7) {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

.fullscreen-container main .columna2 ul li:nth-child(8) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.fullscreen-container main .columna2 ul li:nth-child(9) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.fullscreen-container main .columna2 ul li:nth-child(10) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.fullscreen-container main .nav-paginas {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: 6 / 1 / 7 / 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 45%;
  margin: 0 auto;
  min-width: 520px;
}

.fullscreen-container main .nav-paginas .btn-dark {
  background: #303030;
  color: white;
  padding: 0.7rem 2rem;
  font-family: 'Open Sans';
  font-weight: 800;
  border-radius: 3px;
  border: 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.fullscreen-container main .nav-paginas ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  margin: 0 auto;
  padding: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.fullscreen-container main .nav-paginas ul a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.fullscreen-container main .nav-paginas ul a li {
  font-family: 'FuturaArabicBold';
  color: #333333;
}

.fullscreen-container main .nav-paginas ul a:visited {
  color: #333333;
}

.fullscreen-container main .nav-paginas ul a.active {
  font-weight: 800;
}

.fullscreen-container main .nav-paginas ul a.active li {
  color: #0F9C9E;
}

.fullscreen-container main > .columna1 {
  padding: 1rem 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fullscreen-container main > .columna1 h1 {
  margin-top: 15px;
}

.fullscreen-container main > .columna1 p {
  margin-top: 8px;
  line-height: 1.2rem;
  font-size: 0.95rem;
}

.fullscreen-container main > .columna1 form.actividad {
  width: 100%;
}

.fullscreen-container main > .columna1 form.actividad textarea {
  width: 100%;
  resize: vertical;
  overflow: auto;
  font-family: 'Open Sans';
  padding: 10px;
}

.fullscreen-container main > .columna2 {
  padding: 0.5rem;
  padding-right: 10%;
}

.fullscreen-container main > .columna2 .legend-img {
  width: 100%;
  text-align: center;
  font-family: 'Futura';
}

.fullscreen-container main > .columna2 .legend-img .color {
  font-weight: 900;
  color: #0F9C9E;
}

.fullscreen-container main > .columna2 img {
  width: 70%;
  height: auto;
  padding: 1rem;
}

.fullscreen-container main > .columna2 h1 {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  line-height: 1.1rem;
  color: #0F9C9E;
  font-family: 'FuturaArabicBold';
}

.fullscreen-container main > .columna2 p {
  margin-top: 8px;
  line-height: 1.2rem;
  font-size: 0.95rem;
}

.fullscreen-container main > #modal {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr 10%;
      grid-template-columns: 10% 1fr 10%;
  -ms-grid-rows: 1rem 1fr 1rem;
      grid-template-rows: 1rem 1fr 1rem;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  z-index: 10;
  display: none;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: 1 / 1 / 6 / 7;
  padding: 1rem 5%;
}

.fullscreen-container main > #modal .salir-bg {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1 / 1 / 4 / 4;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.fullscreen-container main > #modal .contenido {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1 / 1 / 4 / 4;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3rem;
      grid-template-columns: 1fr 3rem;
  -ms-grid-rows: 3rem (1fr)[2];
      grid-template-rows: 3rem repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: white;
  z-index: 2;
}

.fullscreen-container main > #modal .contenido button {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  background: none;
  border: none;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullscreen-container main > #modal .contenido h2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  font-size: 1.5rem;
  color: #0F9C9E;
  line-height: 3rem;
  padding: 0.5rem 5%;
}

.fullscreen-container main > #modal .contenido p {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / 3 / 3;
  padding: 0.5rem 5%;
}

.fullscreen-container main > #modal .contenido span {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3 / 1 / 4 / 3;
  text-align: center;
  font-size: 14px;
}

.fullscreen-container main.actividades > .columna2 {
  padding: 1rem 10%;
}

.fullscreen-container main.actividades > .columna2 form.actividad {
  width: 100%;
}

.fullscreen-container main.actividades > .columna2 form.actividad textarea {
  width: 100%;
  margin: 0 auto;
  margin-top: 0.5rem;
  resize: vertical;
  overflow: auto;
  font-family: 'Open Sans';
  padding: 10px;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Open Sans';
  position: relative;
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 30px;
}

#footer * {
  font-size: 14px;
  font-weight: 600;
  color: #00AEEF;
  line-height: 1.3em;
}

#footer > div {
  width: 33%;
  margin-bottom: 10px;
  padding: 10px;
}

#footer > div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#footer > div:first-child {
  border-top: 5px solid #00AEEF;
  padding-top: 60px;
}

#footer > div:nth-child(2) {
  border-top: 5px solid #FFF200;
  padding-top: 60px;
}

#footer > div:nth-child(3) {
  border-top: 5px solid #ED1C24;
  padding-top: 60px;
}

#footer > div:nth-child(3) img {
  width: 90%;
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}

#footer h4 {
  font-size: 16px;
  line-height: 46px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: black;
  margin: 0;
}

#footer a {
  text-decoration: none;
}

#footer .menumarco2izq div {
  font-weight: 400;
}

#footer #footer-bottom {
  position: relative;
  bottom: 0;
  width: 80%;
  margin: 0 auto;
  background: #00AEEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer #footer-bottom #footer-info {
  width: 60%;
  text-align: center;
  color: #ffffffaa;
  margin: 0;
}

#footer #footer-bottom #footer-nav {
  width: 30%;
}

#footer #footer-bottom #footer-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer #footer-bottom #footer-nav ul li {
  margin-right: 5px;
}

#footer #footer-bottom #footer-nav ul li a i {
  color: white;
}

@media (max-width: 1000px) {
  .principal header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .principal header .titulo {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-top: 1rem;
    z-index: 5;
  }
  .principal header .titulo .title-agua {
    font-size: 3rem;
  }
  .principal header .logos {
    z-index: 5;
    color: white;
  }
  .principal header .logos img:before {
    content: '';
  }
  .principal main {
    padding-top: 25vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 93%;
    min-height: 100%;
    height: auto;
  }
  .principal main section.cartilla {
    margin-bottom: 1rem;
    min-height: 300px;
    height: 20vh;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .principal main section.cartilla:hover {
    width: 100%;
  }
  .principal main section.cartilla h1.titulo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 3 / 3;
    z-index: 5;
  }
  .principal main section.cartilla .portada {
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: 1 / 1 / 5 / 5;
    z-index: 1;
  }
  .principal main section.cartilla .logo {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: 4 / 3 / 6 / 5;
    z-index: 5;
  }
  .principal main section.cartilla .overlay {
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: 1 / 1 / 6 / 5;
  }
  .fullscreen-container {
    -ms-grid-columns: 12px 1fr 12px;
        grid-template-columns: 12px 1fr 12px;
    -ms-grid-rows: 5px (12vh)[2] minmax(0, 1fr) 32px;
        grid-template-rows: 5px repeat(2, 12vh) minmax(0, 1fr) 32px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-height: 100vh;
    height: auto;
    background-image: none;
  }
  .fullscreen-container header {
    max-height: 30vh;
  }
  .fullscreen-container main {
    -ms-grid-columns: 12px 1fr 12px;
        grid-template-columns: 12px 1fr 12px;
    -ms-grid-rows: (minmax(0, 1fr))[2] 10vh 32px;
        grid-template-rows: repeat(2, minmax(0, 1fr)) 10vh 32px;
    -ms-grid-row: 5;
    -ms-grid-row-span: -1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 5 / 2 / 4 / 3;
    width: 100%;
  }
  .fullscreen-container main .columna1 {
    width: 100%;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 2 / 3;
  }
  .fullscreen-container main .columna1 img {
    width: 100%;
    height: auto;
  }
  .fullscreen-container main .columna2 {
    width: 100%;
    padding: 1rem 10%;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-area: 2 / 2 / 3 / 6;
  }
  .fullscreen-container main .nav-paginas {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-area: 3 / 2 / 4 / 6;
  }
  #footer > div {
    width: 100%;
  }
  #footer > div:not(#footer-bottom) {
    margin-bottom: 60px;
  }
  #footer #footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #footer #footer-bottom p {
    padding-bottom: 3px;
  }
  #footer .textwidget img {
    width: 60% !important;
    min-width: 280px;
  }
}
/*# sourceMappingURL=style.css.map */